* {
    box-sizing: border-box;
  }
body{
    text-align: center;
    background-color: lightgrey;
}

p{
    margin:20px;
}

.timer-count{
    font-size: 32px;
}

.question    {
    
}

#answers {
    
}

.questionKey   {
    visibility: hidden;
}